
<ul>
<li><a  href="/"><span data-text="Home">Home</span></a></li>
<li><a  href="#"><span data-text="Packages">Packages</span></a></li>
<li><a  href="#"><span data-text="Schedule">Schedule</span></a></li>
<li><a  href="#"><span data-text="Register">Register</span></a></li>
<li><a  href="#"><span data-text="About Us">About Us</span></a></li>
<li><a  href="#"><span data-text="Contact Us">Contact Us</span></a></li>
</ul> 
