<style>
.title {
	float:left;
}
.title, ul{
float:right;
margin:0;
padding:0;
}
.logo{
float:left;
margin:0;
padding:0;
}
.title, li{
display:inline;
list-type:none;
}

a.menubutton{
display: inline-block;
position: relative;
color: #ffffff; /* default color */
background: #000000; /* default bg color */
text-decoration: none;
font: bold 14px Arial; /* font settings */
letter-spacing: 2px; /* font settings */
overflow: hidden;
height: 30px; /* height of each button */
text-align: center;
border-radius: 5px; /* border radius */
-moz-transition: all 0.3s ease-in-out; /* Enable CSS transition between property changes */
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

a.menubutton > span:first-child{ /* first span inside button */
position: relative;
display: block;
height: 100%;
padding: 6px; /* padding of button */
-moz-box-sizing: border-box;
box-sizing: border-box;
-moz-transition: all 0.3s ease-in-out; /* Enable CSS transition between property changes */
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

a.menubutton > span:first-child:after{ /* CSS generated content */
content: attr(data-text); /* Duplicate text of span markup */
display: block;
width: 100%;
height: 100%;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: inherit;
position: absolute;
top:100%;
left:0;
}

a.menubutton:hover{
color: black; /* color of button on hover */
background: #eceece; /* bg color of button on hover */
box-shadow: 0 0 4px green inset;
}

a.menubutton:hover > span:first-child{
-moz-transform: translateY(-100%);
-webkit-transform: translateY(-100%);
-ms-transform: translateY(-100%);
-o-transform: translateY(-100%);
transform: translateY(-100%);
}
</style>
<div class ="logo">
<h2 style="height:10px"> Midas Driving School </h2> 
<p> MTO-Approved BDE Course Provider </p>
</div>
<div class="title">
<ul>
<li><a class="menubutton" href="/"><span data-text="Home">Home</span></a></li>
<li><a class="menubutton" href="#"><span data-text="Packages">Packages</span></a></li>
<li><a class="menubutton" href="#"><span data-text="Schedule">Schedule</span></a></li>
<li><a class="menubutton" href="#"><span data-text="Register">Register</span></a></li>
<li><a class="menubutton" href="#"><span data-text="About Us">About Us</span></a></li>
<li><a class="menubutton" href="#"><span data-text="Contact Us">Contact Us</span></a></li>
</ul>
</div>
